/* ***************** FONTS ********************* */

@font-face {
  font-family: 'Titles';
  src: local('Cairo'), url(./fonts/Cairo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'BigShoulders';
  src: local('BigShoulders'), url(./fonts/BigShouldersStencilDisplay-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Texts';
  src: local('Stint'), url(./fonts/StintUltraCondensed-Regular.ttf) format('truetype');
}



body {
  font-family: 'BigShoulders', cursive !important;
}



:root {
  --primary-white: #ffffff;
  --gray: #a4b0be;
  --black: #2f3542;
  --secondary-green: #7bed9f;
  --primary-green: #2ed573;
  --primary-blue: #70a1ff;
  --primary-red: #ff6b81;
  --primary-hover-red: #ff4757;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

/* ***************** NAVBAR ********************* */

.imgLogo {
  width: 11rem;
  border-radius: 15px;
  height: 5rem;
}

.navbar a.nav-link {
  font-weight: 600;
  font-size: x-large;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--gray) !important;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.titleNav {
  font-weight: 600 !important;
  font-size: x-large !important;
  letter-spacing: 0.1rem;
  color: var(--gray) !important;
}

.titleNav:hover {
  color: var(--primary-white) !important;
}

.dropdown-item, .dropdown-menu {
  background-color: var(--black) !important;
  border: none !important
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.ariaBtn {
  font-weight: 600 !important;
  font-size: x-large !important;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--gray) !important;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.navbar a.nav-link:hover {
  color: var(--primary-white) !important;
  border-top: 0.18rem solid var(--secondary-green) !important;
  transition: border-top .2s;
}

.navbar a.nav-link.active {
  color: var(--primary-white) !important;
  border-top: 0.18rem solid var(--primary-green) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0;
  height: 6rem;
}

.color-nav {
  background-color: var(--black);
}

/* ***************** HEADER ********************* */

.header-wrapper {
  position: relative;
  background: url(./images/computer3.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  opacity: 1.5;
  background-color: black;
}

.header-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Titles', cursive;
  font-size: x-large;
  letter-spacing: 0.1rem;
  z-index: 11;
}

.main-info h1 {
  color: var(--primary-green);
  text-transform: uppercase;
}

/****************** TYPED TEXT *************************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  font-family: 'Titles', cursive;
  font-size: x-large;
  letter-spacing: 0.1rem;
}

/****************** HEADER MAIN OFFER *************************/

.btn-main-offer {
  text-decoration: none;
  border: 1PX solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  background-color: var(--primary-hover-red);
  margin: 2rem;
  font-family: 'Titles', cursive;
  font-size: x-large;
  letter-spacing: 0.1rem;
  z-index: 15 !important;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-red);
  transition: 0.2s ease-in-out;
  color: var(--primary-white);
  z-index: 15 !important;
}

/******************   PARTICLES  *************************/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vW;
  z-index: 11 !important;
}

/******************   PARTICLES  *************************/

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  background-color: var(--primary-white);
  color: var(--black);
  border-top: var(--primary-green);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Titles', cursive;
}

.iconosSociales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 10px;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

/* **************************** about *******************/

.aboutDescription{
  font-family: "Texts";
  font-size: 30px;
  align-content: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 40px;
}

.about{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

