/* ***************** FONTS ********************* */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@400;600&display=swap');
body {
  font-family: 'Big Shoulders Stencil Display', cursive !important;
}

:root {
  --primary-white: #ffffff;
  --gray: #a4b0be;
  --black: #2f3542;
  --secondary-green:#7bed9f;
  --primary-green: #2ed573;
}

/* ***************** NAVBAR ********************* */

.imgLogo {
  width: 11rem;
  border-radius: 15px;
  height: 5rem;
}

.navbar a.nav-link {
  font-weight: 600;
  font-size: x-large;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--gray) !important;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.titleNav {
  font-weight: 600 !important;
  font-size: x-large !important;
  letter-spacing: 0.1rem;
  color: var(--gray) !important;
}

.titleNav:hover {
  color: var(--primary-white) !important;
}

.dropdown-item, .dropdown-menu {
  background-color: var(--black) !important;
  border: none !important
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.ariaBtn {
  font-weight: 600 !important;
  font-size: x-large !important;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--gray) !important;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.navbar a.nav-link:hover {
  color: var(--primary-white) !important;
  border-top: 0.18rem solid var(--secondary-green) !important;
}

.navbar a.nav-link.active {
  color: var(--primary-white) !important;
  border-top: 0.18rem solid var(--primary-green) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0;
  height: 6rem;
}

.color-nav{
  background-color: var(--black);
}